*{
margin:0;
padding:0;
}

body {
width:100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #C16100;
}

#t1{#FFFFFF
border: 4;
width:100%;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	
	
	
	
	
	
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

h3{
color:#33FF00;
font:;
}
<td id = '1'> .1{background-color:#000000}
