#menu ul
{
    
	text-align:center;
	margin-left:100px;
    padding: 0px;
    list-style-type: none;
}

#menu li
{
     list-style: none;
    float: left;
    margin-right: 2em;
}

#menu a
{
    display: block;
    width: 8em;
    color: white;
    background-color: #000099;
    text-decoration: none;
    text-align: center;
}

#menu a:hover
{
    background-color: #6666AA;
}
